@import './../../../global/global-style.scss';
.secondary-nav-wrapper {
    height: 48px;
    background-color: $dark-maastricht-blue;
    color: $white;
    .container {
        height: 100%;
        @include container-95($width-86);
        @include display-flex-row-alignCenter;
    }
}

//large screen view{
@media all and (max-width:1200px) {
    .secondary-nav-wrapper {
        .container {
            @include container-95($width-95);
        }
    }
}

//tablet view
@media all and(max-width:959px) {
    .secondary-nav-wrapper {
        .container {
            @include container-95($width-95);
        }
    }
}

// mobile view
@media all and (max-width: 767px) {
    .secondary-nav-wrapper {
        .container {
            @include container-95($width-95);
            .main-nav-items-left {
                .nav-items {
                    display: none;
                }
            }
            .main-nav-items-right {
                .button {
                    display: none;
                }
            }
        }
    }
}