@import './../../../global/global-style.scss';
.secondary-nav-wrapper {
    height: 48px;
    background-color: $nav-footer-color;
    color: $white;
    .container {
        @include container-86;
    }
}