@import './../../global/global-style.scss';
// gradient background: rgb(18,75,153);
// background: linear-gradient(45deg, rgba(18,75,153,1) 42%, rgba(2,120,226,1) 89%);
main {
    width: 100%;
    background-color: $job-posts-back-ground-hover;
    @include display-flex-row-alignCenter(column);
    .header {
        background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
        height: 265px;
        width: 100%;
        @include display-flex-row-alignCenter(column);
        .header-container {
            width: 780px;
            height: 100%;
            @include display-flex-row-alignCenter(column, flex-start);
            justify-content: center;
            gap: 2rem;
            h1 {
                color: $white;
                font-size: $font-size-32;
                width: 100%;
            }
            p {
                color: $white;
                font-size: $font-size-14;
                width: 100%;
            }
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 790px;
        margin: 2rem 0;
        .form-wrapper {
            @include min-cards-design-for-all-content(2rem);
            @include display-flex-row-alignCenter(column);
            width: 100%;
            .new-job-form {
                width: 100%;
                @include display-flex-row-alignCenter(column, flex-start);
                gap: 1.8rem;
                .project-name-wrapper {
                    @include display-flex-row-alignCenter(column, flex-start);
                    gap: 5px;
                    width: 100%;
                    .project-name-label {
                        font-size: 20px;
                        font-weight: $font-wight-700;
                        color: $dark-blueBlack-text-color-jobPage;
                    }
                    .project-name-input {
                        @include small-search-input(44px);
                    }
                }
                .project-description-wrapper {
                    @include display-flex-row-alignCenter(column, flex-start);
                    gap: 5px;
                    width: 100%;
                    .project-description-label {
                        font-size: 20px;
                        font-weight: $font-wight-700;
                        color: $dark-blueBlack-text-color-jobPage;
                    }
                    .project-description-input {
                        @include small-search-input(106px);
                        line-height: 1.4;
                    }
                    .required-errors {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        width: 100%;
                        .remaining-error {
                            display: inline;
                            color: #4d525b;
                        }
                    }
                }
                .require-skills-wrapper {
                    @include display-flex-row-alignCenter(column, flex-start);
                    gap: 5px;
                    .require-skills-title {
                        font-size: 20px;
                        font-weight: $font-wight-700;
                        color: $dark-blueBlack-text-color-jobPage;
                    }
                    .require-skills-description {
                        color: $dark-blueBlack-text-color-jobPage;
                        line-height: 1.4;
                        margin-bottom: 5px;
                    }
                    .require-skills-input {
                        @include small-search-input(46px);
                    }
                }
                .file-wrapper {
                    @include display-flex-row-alignCenter;
                    gap: 10px;
                    border: 1px dashed $hover-black;
                    padding: 20px 16px;
                    cursor: pointer;
                    .file-wrapper-input {
                        &::-webkit-file-upload-button {
                            visibility: hidden;
                        }
                        &::before {
                            content: ' + Upload File';
                            display: inline-block;
                            background: linear-gradient(top, #f9f9f9, #e3e3e3);
                            border: 1px solid #999;
                            border-radius: 3px;
                            padding: 9px 15px;
                            outline: none;
                            white-space: nowrap;
                            -webkit-user-select: none;
                            cursor: pointer;
                            text-shadow: 1px 1px #fff;
                            font-size: 10pt;
                            font-weight: $font-wight-700;
                            &:hover {
                                color: #4d525b;
                                font-weight: $font-wight-700;
                            }
                        }
                    }
                    .file-wrapper-label {
                        color: #4d525b;
                        cursor: pointer;
                    }
                }
                .estimated-budget-wrapper {
                    @include display-flex-row-alignCenter(column, flex-start);
                    width: 50%;
                    gap: .5rem;
                    margin-bottom: 1rem;
                    .h3 {
                        color: $dark-blueBlack-text-color-jobPage;
                        font-size: $font-size-16;
                        font-weight: $font-wight-700;
                    }
                    .min-budget-wrapper {
                        @include display-flex-row-alignCenter(column, flex-start);
                        width: 100%;
                        gap: .3rem;
                        label {
                            font-size: $font-size-14;
                            font-weight: $font-wight-500;
                        }
                        input {
                            @include small-search-input(44px);
                        }
                    }
                    .max-budget-wrapper {
                        @include display-flex-row-alignCenter(column, flex-start);
                        width: 100%;
                        gap: .3rem;
                        label {
                            font-size: $font-size-14;
                            font-weight: $font-wight-500;
                        }
                        input {
                            @include small-search-input(44px);
                        }
                    }
                }
            }
            .submit-button {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                button {
                    @include btn($dark-ruddy, 8px, 22px);
                    color: #f7f7f7;
                    font-size: $font-size-20;
                    font-weight: $font-wight-700;
                    border-radius: 5px;
                }
            }
        }
        .job-overview {
            .job-overview-caption {
                font-size: $font-size-24;
                font-weight: $font-wight-700;
                margin-left: 1rem;
            }
            .job-overview-wrapper {
                @include min-cards-design-for-all-content(2rem);
                @include display-flex-row-alignCenter(column, flex-start);
                width: 100%;
                margin-top: 1rem;
                .job-card-wrapper {
                    @include display-flex-row-alignCenter;
                    justify-content: center;
                    width: 100%;
                    gap: 3%;
                    .card-head {
                        @include display-flex-row-alignCenter(column);
                        justify-content: center;
                        width: 30%;
                        border-right: 1px solid $hover-black;
                        padding-right: 10px;
                        .device-icon {
                            font-size: 100px;
                            color: $light-blue;
                        }
                        .project-text {
                            font-size: $font-size-14;
                            margin-bottom: 1rem;
                            font-weight: $font-wight-600;
                        }
                        .project-budget {
                            font-size: $font-size-16;
                            font-weight: $font-wight-700;
                            white-space: nowrap;
                        }
                    }
                    .card-description {
                        @include display-flex-row-alignCenter(column);
                        gap: .8rem;
                        width: 70%;
                        .card-description-title {
                            font-size: $font-size-18;
                            font-weight: $font-wight-700;
                            width: 100%;
                            word-wrap: break-word;
                        }
                        .card-description-body {
                            width: 100%;
                            font-size: $font-size-14;
                            font-weight: $font-wight-400;
                            line-height: 1.43;
                        }
                        .required-job-skills {
                            width: 100%;
                            ul {
                                display: flex;
                                flex-direction: row;
                                gap: .5rem;
                                width: 100%;
                                flex-wrap: wrap;
                                .skill {
                                    max-width: fit-content;
                                    padding: 5px 7px;
                                    border-radius: 10px;
                                    font-weight: $font-wight-500;
                                    background-color: #e1e4e8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Extra large screens, TV
@media all and (min-width:1201px) {
    main {
        .header {
            background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
            width: 100%;
            .header-container {
                width: 780px;
            }
        }
        .content-container {
            width: 790px;
        }
    }
}

//Desktops, large screens
@media all and (min-width:1025px)and(max-width:1200px) {
    main {
        @include display-flex-row-alignCenter(column);
        .header {
            background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
            width: 100%;
            .header-container {
                width: 780px;
            }
        }
        .content-container {
            width: 780px;
        }
    }
}

//Small screens, laptops
@media all and (min-width:769px)and(max-width:1024px) {
    main {
        @include display-flex-row-alignCenter(column);
        .header {
            background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
            width: 100%;
            .header-container {
                width: 780px;
            }
        }
        .content-container {
            width: 780px;
        }
    }
}

//iPads, Tablets
@media all and (min-width:481px) and (max-width:768px) {
    main {
        @include display-flex-row-alignCenter(column);
        .header {
            background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
            width: 100%;
            .header-container {
                width: $width-95;
            }
        }
        .content-container {
            width: $width-95;
            .job-overview {
                .job-overview-wrapper {
                    .job-card-wrapper {
                        @include display-flex-row-alignCenter(column);
                        gap: 1rem;
                        .card-head {
                            border-right: none;
                            border-bottom: 1px solid $hover-black;
                            padding-right: 0;
                            width: 100%;
                            padding-bottom: 20px;
                        }
                        .card-description {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// mobile view
@media all and (max-width: 480px) {
    main {
        @include display-flex-row-alignCenter(column);
        .header {
            background: linear-gradient(45deg, rgba(18, 75, 153, 1) 42%, rgba(2, 120, 226, 1) 89%);
            width: 100%;
            .header-container {
                width: $width-95;
            }
        }
        .content-container {
            width: $width-95;
            .job-overview {
                .job-overview-wrapper {
                    .job-card-wrapper {
                        @include display-flex-row-alignCenter(column);
                        gap: 1rem;
                        .card-head {
                            border-right: none;
                            border-bottom: 1px solid $hover-black;
                            padding-right: 0;
                            width: 100%;
                            padding-bottom: 20px;
                        }
                        .card-description {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}