@import './../../global/global-style.scss';
.main-chat-page {
    width: 100%;
    background-color: #7caeff;
    .container {
        @include container-95($width-86);
        .content-wrapper {
            width: 100%;
            @include min-cards-design-for-all-content(0);
            @include display-flex-row-alignCenter;
            height: 600px;
            margin: 2rem 0;
            .clients-chats {
                width: 300px;
                height: 100%;
                background-color: #f9f9f9;
                padding: 30px 16px;
                border-right: 1px solid $light-black;
                .clients-chat-wrapper {
                    width: 100%;
                    @include display-flex-row-alignCenter(column);
                    .search-form {
                        .search-input {
                            position: relative;
                            width: 100%;
                            margin-bottom: 50px;
                            @include display-flex-row-alignCenter;
                            .search-icon {
                                position: absolute;
                                z-index: 2;
                                top: 8px;
                                left: 10px;
                                color: $medium-lightBlack-text-color-jobPage;
                                font-weight: $font-wight-700;
                            }
                            .search {
                                @include small-search-input;
                                border-color: #7caeff;
                                width: 100%;
                                z-index: 1;
                                padding-left: 35px;
                            }
                        }
                    }
                    .chat-sidebar {
                        width: 100%;
                        @include display-flex-row-alignCenter(column, flex-start);
                        gap: .5rem;
                        .client-chat-sidebar {
                            width: 100%;
                            @include display-flex-row-alignCenter;
                            gap: 1rem;
                            .client-img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .client-name-and-lastSentMessage {
                                width: calc(100% - (1rem + 50px));
                                @include display-flex-row-alignCenter(column, flex-start);
                                .name-and-last-time-send {
                                    @include display-flex-row-alignCenter;
                                    justify-content: space-between;
                                    width: 100%;
                                    .client-name {
                                        font-size: $font-size-16;
                                        font-weight: 700;
                                        color: $dark-blue;
                                    }
                                    .last-time-send {
                                        font-size: $font-size-12;
                                        font-weight: 500;
                                        color: $light-black;
                                    }
                                }
                                .lastSentMessage-and-notification-num {
                                    width: 100%;
                                    @include display-flex-row-alignCenter;
                                    justify-content: space-between;
                                    .last-sent-message {
                                        font-size: $font-size-14;
                                        font-weight: 500;
                                        color: $medium-dark-black;
                                    }
                                    .notification-num {
                                        padding: 0 6.5px;
                                        font-size: $font-size-11;
                                        color: #fff;
                                        border-radius: 20px;
                                        background-color: $dark-blue;
                                    }
                                }
                            }
                        }
                        .active {
                            background-color: #7caeff54;
                            border-radius: 30px 0px 0px 30px;
                            padding: 2px 0;
                            width: 100%;
                            .client-name-and-lastSentMessage {
                                .lastSentMessage-and-notification-num {
                                    .notification-num {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .chat-wrapper {
                @include display-flex-row-alignCenter(column, flex-start);
                width: calc(100% - 300px);
                height: 100%;
                padding: 16px 20px;
                .chat-header {
                    width: 100%;
                    flex-grow: 1;
                    max-height: 70px;
                    border-bottom: 2px solid #b8babc6d;
                    @include display-flex-row-alignCenter;
                    gap: 1rem;
                    padding-bottom: 8px;
                    .chat-client-img {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .chat-client-name {
                        font-size: $font-size-20;
                        font-weight: $font-wight-700;
                        color: $dark-blueBlack-text-color-jobPage;
                    }
                }
                .chat-body {
                    width: 100%;
                    flex-grow: 10;
                    @include display-flex-row-alignCenter(column);
                    gap: 1rem;
                    overflow-y: scroll;
                    padding: 15px 0;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #fff;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $light-black;
                        /* color of the scroll thumb */
                        border-radius: 20px;
                        /* roundness of the scroll thumb */
                        border: 3px solid $light-black;
                    }
                    .chat-client-wrapper {
                        align-self: flex-start;
                        .chat-client-design {
                            @include display-flex-row-alignCenter(row, flex-end);
                            gap: .5rem;
                            .chat-client-design-img {
                                @include display-flex-row-alignCenter(row, flex-end);
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            p {
                                padding: 10px 15px;
                                background-color: #ebeaea;
                                border-radius: 10px;
                                font-size: $font-size-16;
                                font-weight: $font-wight-500;
                                max-width: 300px;
                                word-wrap: break-word;
                            }
                        }
                    }
                    .chat-freelancer-wrapper {
                        align-self: flex-end;
                        .chat-freelancer-design {
                            @include display-flex-row-alignCenter(row, flex-end);
                            justify-self: end;
                            gap: .5rem;
                            .chat-freelancer-design-img {
                                @include display-flex-row-alignCenter(row, flex-end);
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            p {
                                padding: 10px 15px;
                                background-color: $dark-blue;
                                border-radius: 10px;
                                color: #fff;
                                font-size: $font-size-16;
                                font-weight: $font-wight-500;
                                max-width: 300px;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
                .chat-footer-send-message {
                    width: 100%;
                    flex-grow: 1;
                    max-height: 70px;
                    border-top: 2px solid #b8babc6d;
                    @include display-flex-row-alignCenter;
                    .message-form {
                        width: 100%;
                        height: 100%;
                        @include display-flex-row-alignCenter;
                        justify-content: space-evenly;
                        gap: 1rem;
                        .file-upload {
                            cursor: pointer;
                            label {
                                cursor: pointer;
                                .file-icon {
                                    cursor: pointer;
                                    margin-top: 5px;
                                    font-size: $font-size-24;
                                    color: $light-black;
                                    transform: rotate(45deg);
                                }
                            }
                            input {
                                display: none;
                            }
                        }
                        input {
                            @include small-search-input;
                            width: 80%;
                            border: none;
                            border-bottom: 1px solid $dark-blue;
                            &:hover {
                                border: none;
                                border-radius: 3px;
                                transition: .3s;
                            }
                            &:focus-visible {
                                outline: none;
                            }
                        }
                        .send-message {
                            background-color: $dark-blue;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                .send-message-icon {
                                    display: block;
                                    color: #fff;
                                    font-size: $font-size-18;
                                    margin: 0 auto;
                                    cursor: pointer;
                                }
                            }
                            .send-message-button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Extra large screens, TV
@media all and (min-width:1201px) {
    .main-chat-page {
        .container {
            @include container-95($width-1200px);
        }
    }
}

//Desktops, large screens
@media all and (min-width:1025px)and(max-width:1200px) {
    .main-chat-page {
        .container {
            @include container-95;
        }
    }
}

//Small screens, laptops
@media all and (min-width:769px)and(max-width:1024px) {
    .main-chat-page {
        .container {
            @include container-95;
        }
    }
}

//iPads, Tablets
@media all and (min-width:481px) and (max-width:768px) {
    .main-chat-page {
        .container {
            @include container-95;
        }
    }
}

// mobile view
@media all and (max-width: 480px) {
    .main-chat-page {
        .container {
            @include container-95;
        }
    }
}