//main Dark Colors
$dark-black: #000;
$dark-blue-black:#164188;
$dark-blue:#007fed;
$dark-fuchsia:#f20091;
$dark-green:#379E54;
$dark-yello:#F77D0E;
$white:#fff;
$nav-footer-colore:#0e1724;
// & Hover
//---------------
// Medium Dark Colors
$medium-dark-black: #3a393f;
$medium-dark-blue:#29B2FE;
$medium-dart-green:#5DC16A;
$medium-dark-yello:#FFC24E;
//---------------
// Light colors
$light-black:#8D8E90;
$light-blue:#28B4F2;
$light-fuchsia:#FA5F9B;
//$light-green:;
//--------------
//Hover
$fuchsia-hover: #fa5f9b;
$blue-hover:#139FF0;
//---------------
//warning
$danger: #EB3730;
$warning:#FFC107;
$success:#28A745;
//---------------
// Font & text
$font-waight-400:400;
$font-waight-600:600;
$font-waight-700:700;
$text-colore:#0e1724;
$font-size-48:48px;
$font-size-41:41px;
$font-size-32:34px;
$font-size-20:20px;
$font-size-18:18px;
$font-size-16:16px;
$font-size-14:14px;
$font-size-12:12px;
//---------------
//glopal css classes
@mixin container-88($width:88%) {
    width: $width;
    margin: 0 auto;
}

//btton
@mixin btn($bg-color, $paddingUpandDown, $paddingRightAndLeft) {
    background-color: $bg-color;
    border: none;
    color: white;
    padding: $paddingUpandDown $paddingRightAndLeft;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

//------------
//Font
@mixin text-style($color:$text-colore, $font-size:$font-size-18, $font-waight:$font-waight-400, $font-style: normal, $line-height:1.55) {
    font-size: $font-size;
    color: $color;
    font-weight: $font-waight;
    font-style: $font-style;
}

//-------------
//display flex
@mixin display-flex-row-alignCenter($flex-direction:row, $align-items:center) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
}