    @import './../../global/global-style.scss';
    .jobs-page {
        @include display-flex-row-alignCenter(column);
        width: 100%;
        background-color: $global-pages-background;
        .jobs-page-intro {
            width: 100%;
            height: 130px;
            background-color: $dark-maastricht-blue;
            display: flex;
            justify-content: center;
            .container {
                width: $width-86;
                h1 {
                    color: #fff;
                }
                form {
                    @include display-flex-row-alignCenter;
                    gap: .5rem;
                    input[type=search] {
                        width: 90%;
                        height: 36px;
                        padding: 3.5px;
                        font-size: $font-size-16;
                        font-weight: $font-wight-400;
                    }
                    input[type=button] {
                        height: 36px;
                        @include btn($dark-blue);
                        &:hover {
                            background-color: $hover-blue;
                        }
                    }
                }
            }
        }
        .content-container {
            width: $width-86;
            @include display-flex-row-alignCenter(row, flex-start);
            justify-content: center;
            gap: 2rem;
            margin: 2rem 0;
            aside {
                width: 280px;
                .aside-content-wrapper {
                    @include display-flex-row-alignCenter(column, flex-start);
                    gap: 1rem;
                    width: 100%;
                    .filters-header {
                        @include min-cards-design-for-all-content;
                        font-weight: $font-wight-700;
                        color: $dark-blueBlack-text-color-jobPage;
                        width: 100%;
                        height: 65px;
                    }
                    .filters-and-skills-categories-wrapper {
                        @include display-flex-row-alignCenter(column, flex-start);
                        gap: 1rem;
                        width: 100%;
                        .filters {
                            display: flex;
                            flex-direction: column;
                            @include min-cards-design-for-all-content;
                            gap: 1.2rem;
                            width: 100%;
                            .search-by-keyWord-wrapper {
                                @include display-flex-row-alignCenter(column, flex-start);
                                gap: .3rem;
                                width: 100%;
                                h3 {
                                    color: $dark-blueBlack-text-color-jobPage;
                                    font-size: $font-size-16;
                                    font-weight: $font-wight-700;
                                }
                                .keyword-form {
                                    @include display-flex-row-alignCenter(column, flex-start);
                                    width: 100%;
                                    label {
                                        font-size: $font-size-14;
                                        font-weight: $font-wight-500;
                                    }
                                    input {
                                        @include small-search-input;
                                    }
                                }
                            }
                            .search-by-price-wrapper {
                                @include display-flex-row-alignCenter(column, flex-start);
                                gap: .3rem;
                                width: 100%;
                                h3 {
                                    color: $dark-blueBlack-text-color-jobPage;
                                    font-size: $font-size-16;
                                    font-weight: $font-wight-700;
                                }
                                .price-form {
                                    @include display-flex-row-alignCenter(column, flex-start);
                                    width: 100%;
                                    .min-search-wrapper {
                                        @include display-flex-row-alignCenter(column, flex-start);
                                        width: 100%;
                                        label {
                                            font-size: $font-size-14;
                                            font-weight: $font-wight-500;
                                        }
                                        input {
                                            @include small-search-input;
                                        }
                                    }
                                    .max-search-wrapper {
                                        @include display-flex-row-alignCenter(column, flex-start);
                                        width: 100%;
                                        label {
                                            font-size: $font-size-14;
                                            font-weight: $font-wight-500;
                                        }
                                        input {
                                            @include small-search-input;
                                        }
                                    }
                                }
                            }
                        }
                        .skills-categories {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            @include min-cards-design-for-all-content;
                            width: 100%;
                            .skills-categories-header {
                                font-size: $font-size-20;
                                font-weight: $font-wight-700;
                                color: $dark-blueBlack-text-color-jobPage;
                            }
                            .skills-search-form {
                                label {
                                    font-size: $font-size-14;
                                    font-weight: $font-wight-500;
                                }
                                input {
                                    @include small-search-input;
                                }
                            }
                            ul {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                gap: .5rem;
                                li {
                                    max-width: fit-content;
                                    padding: 5px 7px;
                                    background-color: #e1e4e8;
                                    border-radius: 10px;
                                    font-weight: $font-wight-500;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #bcbfc2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            main {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .sort-jobs {
                    @include min-cards-design-for-all-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .sort-head {
                        font-size: $font-size-20;
                        color: #0E1724;
                    }
                    .sort-selector {
                        @include display-flex-row-alignCenter;
                        gap: .5rem;
                        .jobs-sort {
                            color: $dark-maastricht-blue;
                        }
                        #jobs-sort {
                            font-size: $font-size-16;
                            padding: 6px 10px;
                            color: $dark-maastricht-blue;
                            border: .2px solid $hover-black;
                            margin: 0 auto;
                            border-radius: 5px;
                            text-transform: capitalize;
                        }
                    }
                }
                .jobs-section {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .job {
                        @include min-cards-design-for-all-content;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        cursor: pointer;
                        .job-card-head {
                            @include display-flex-row-alignCenter(row);
                            justify-content: space-between;
                            h2 {
                                font-size: $font-size-16;
                                font-weight: $font-wight-700;
                                align-self: self-start;
                            }
                            .job-title {
                                color: $dark-blue;
                                cursor: pointer;
                                max-width: 70%;
                                word-wrap: break-word;
                            }
                        }
                        .job-body-description {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .job-description {
                                max-width: 70%;
                                font-size: $font-size-14;
                                font-weight: $font-wight-500;
                                color: $medium-lightBlack-text-color-jobPage;
                                span {
                                    color: $dark-blue;
                                    cursor: pointer;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .job-posted-since {
                                max-width: 25%;
                            }
                        }
                        .job-footer-rating-and-skills {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            .required-job-skills {
                                ul {
                                    display: flex;
                                    flex-direction: row;
                                    gap: .5rem;
                                    max-width: 70%;
                                    flex-wrap: wrap;
                                    .skill {
                                        max-width: fit-content;
                                        padding: 5px 7px;
                                        border-radius: 10px;
                                        font-weight: $font-wight-500;
                                        background-color: #e1e4e8;
                                    }
                                }
                            }
                            .reviews {
                                display: flex;
                                flex-direction: row;
                                align-content: center;
                                gap: 1rem;
                                .rating {
                                    @include display-flex-row-alignCenter;
                                    gap: 5px;
                                    font-size: 16px;
                                }
                            }
                        }
                        &:hover {
                            background-color: $job-posts-back-ground-hover;
                        }
                    }
                }
            }
        }
    }
    
    // to control the header height in screens over 1441px
    /*
@media all and (min-width:1441px) {
    .jobs-page {
        width: 100%;
        .jobs-page-intro {
            width: 100%;
            .container {
                width: $width-1200px;
            }
        }
        .content-container {
            width: $width-1200px;
        }
    }
}*/
    
    //Extra large screens, TV
    @media all and (min-width:1201px) {
        .jobs-page {
            width: 100%;
            .jobs-page-intro {
                width: 100%;
                .container {
                    width: $width-1200px;
                }
            }
            .content-container {
                width: $width-1200px;
            }
        }
    }
    
    //Desktops, large screens
    @media all and (min-width:1025px)and(max-width:1200px) {
        .jobs-page {
            width: 100%;
            .jobs-page-intro {
                width: 100%;
                .container {
                    width: $width-95;
                }
            }
            .content-container {
                width: $width-95;
            }
        }
    }
    
    //Small screens, laptops
    @media all and (min-width:769px)and(max-width:1024px) {
        .jobs-page {
            width: 100%;
            .jobs-page-intro {
                width: 100%;
                .container {
                    width: $width-95;
                }
            }
            .content-container {
                width: $width-95;
            }
        }
    }
    
    //iPads, Tablets
    @media all and (min-width:481px) and (max-width:768px) {
        .jobs-page {
            width: 100%;
            .jobs-page-intro {
                width: 100%;
                .container {
                    width: $width-95;
                }
            }
            .content-container {
                width: $width-95;
                @include display-flex-row-alignCenter(column);
                aside {
                    width: 100%;
                    .aside-content-wrapper {
                        .filters-and-skills-categories-wrapper {
                            animation: growDown 300ms ease-in-out forwards;
                            transform-origin: top center;
                            @keyframes growDown {
                                0% {
                                    transform: scaleY(0)
                                }
                                80% {
                                    transform: scaleY(1.1)
                                }
                                100% {
                                    transform: scaleY(1)
                                }
                            }
                        }
                    }
                }
                main {
                    width: 100%;
                    .sort-jobs {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    // mobile view
    @media all and (max-width: 480px) {
        .jobs-page {
            width: 100%;
            .jobs-page-intro {
                width: 100%;
                .container {
                    width: $width-95;
                    .aside-content-wrapper {
                        .filters-and-skills-categories-wrapper {
                            animation: growDown 300ms ease-in-out forwards;
                            transform-origin: top center;
                            @keyframes growDown {
                                0% {
                                    transform: scaleY(0)
                                }
                                80% {
                                    transform: scaleY(1.1)
                                }
                                100% {
                                    transform: scaleY(1)
                                }
                            }
                        }
                    }
                }
            }
            .content-container {
                width: $width-95;
                @include display-flex-row-alignCenter(column);
                aside {
                    width: 100%;
                }
                main {
                    width: 100%;
                    .sort-jobs {
                        width: 100%;
                    }
                }
            }
        }
    }