@import './../../../global/global-style.scss';
.main-nav-wrapper {
    height: 64px;
    background-color: $white;
    .container {
        height: 100%;
        @include display-flex-row-alignCenter;
        justify-content: space-between;
        @include container-95($width-86);
        font-size: $font-size-16;
        .main-nav-items-left {
            @include display-flex-row-alignCenter;
            justify-content: flex-start;
            gap: 20px;
            a {
                color: $dark-black;
                font-weight: $font-wight-400;
                text-transform: capitalize;
                &:hover {
                    color: $light-blue;
                }
            }
        }
        .main-nav-items-right {
            @include display-flex-row-alignCenter;
            justify-content: flex-end;
            gap: 20px;
            a {
                color: $dark-black;
                text-transform: capitalize;
                font-weight: $font-wight-400;
                &:hover {
                    color: $light-blue;
                }
            }
            .button {
                font-weight: bold;
                text-transform: none;
                border-radius: 3px;
                @include btn($dark-ruddy);
                &:hover {
                    color: $white;
                    background-color: $hover-ruddy;
                }
            }
        }
    }
}

//large screen view{
@media all and (max-width:1200px) {
    .main-nav-wrapper {
        .container {
            @include container-95($width-95);
        }
    }
}

//tablet view
@media all and(max-width:959px) {
    .main-nav-wrapper {
        .container {
            @include container-95($width-95);
        }
    }
}

// mobile view
@media all and (max-width: 767px) {
    .main-nav-wrapper {
        .container {
            @include container-95($width-95);
            .main-nav-items-left {
                .nav-items {
                    display: none;
                }
            }
            .main-nav-items-right {
                .button {
                    display: none;
                }
            }
        }
    }
}