@import './../../global/global-style.scss';
.home-wrapper {
    width: 100%;
    position: relative;
    .home-header-wrapper {
        //positioning
        background-position: center;
        //box modeling
        height: calc(100vh - 112px);
        //background
        background-image: url('./../../assets/homePhotos/freelancers.jpg');
        background-size: cover;
        .content {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            .container {
                @include container-95($width-86);
                @include display-flex-row-alignCenter(column);
                height: 100%;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 1rem;
                padding-bottom: 5rem;
                h1 {
                    font-size: $font-size-41;
                    font-weight: $font-wight-700;
                    max-width: 40%;
                }
                p {
                    max-width: 40%;
                    font-size: $font-size-20;
                    font-weight: $font-wight-400;
                }
                .buttons {
                    @include display-flex-row-alignCenter;
                    gap: 1rem;
                    .button-1 {
                        @include btn($dark-ruddy,
                        1rem,
                        2.5rem);
                        color: $white;
                        font-size: $font-size-18;
                        font-weight: $font-wight-700;
                        border-radius: 3px;
                        &:hover {
                            background-color: $hover-ruddy;
                        }
                    }
                    .button-2 {
                        @include btn($dark-blue,
                        1rem,
                        2.5rem);
                        color: $white;
                        font-size: $font-size-18;
                        font-weight: $font-wight-700;
                        border: 1px solid $dark-blue;
                        border-radius: 3px;
                        &:hover {
                            background-color: $hover-blue;
                        }
                    }
                }
            }
        }
    }
}

//large screen view{
@media all and (max-width:1200px) {
    .home-wrapper {
        .home-header-wrapper {
            .content {
                .container {
                    @include container-95($width-95);
                }
            }
        }
    }
}

//tablet view
@media all and(max-width:959px) {
    .home-wrapper {
        .home-header-wrapper {
            .content {
                .container {
                    @include container-95($width-95);
                }
            }
        }
    }
}

// mobile view
@media all and (max-width: 767px) {
    .home-wrapper {
        .home-header-wrapper {
            .content {
                .container {
                    @include container-95($width-95);
                }
            }
        }
    }
}