@import './../../global/global-style.scss';
.job-details-wrapper {
    @include display-flex-row-alignCenter(row, flex-start);
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    margin: 2rem 0;
    .job-details-main {
        @include display-flex-row-alignCenter(column);
        justify-content: flex-start;
        gap: .5rem;
        width: 70%;
        .job-details-header {
            @include min-cards-design-for-all-content;
            @include display-flex-row-alignCenter;
            justify-content: space-between;
            width: 100%;
            .job-details-title {
                font-size: $font-size-20;
                font-weight: $font-wight-700;
            }
            .job-details-budget {
                @include display-flex-row-alignCenter(column, flex-end);
                .job-budget {
                    font-size: $font-size-16;
                    font-weight: $font-wight-700;
                    color: $dark-blueBlack-text-color-jobPage;
                }
                .binding-clock {
                    @include display-flex-row-alignCenter;
                    gap: .5rem;
                    .clock {
                        font-size: $font-size-12;
                        color: $medium-lightBlack-text-color-jobPage;
                    }
                    .job-ends-after {
                        font-size: $font-size-11;
                        color: $medium-lightBlack-text-color-jobPage;
                        font-weight: $font-wight-700;
                    }
                }
            }
        }
        .job-description-skills {
            @include display-flex-row-alignCenter(column, flex-start);
            @include min-cards-design-for-all-content;
            gap: 1.5rem;
            width: 100%;
            .job-description {
                width: 100%;
                font-size: $font-size-14;
            }
            .required-skills {
                font-size: $font-size-16;
                font-weight: $font-wight-700;
                color: $dark-blueBlack-text-color-jobPage
            }
            .required-job-skills {
                width: 100%;
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                    max-width: 100%;
                    flex-wrap: wrap;
                    .skill {
                        max-width: fit-content;
                        padding: 5px 7px;
                        border-radius: 10px;
                        font-weight: $font-wight-500;
                        background-color: #fff;
                        border: 1px solid #e1e4e8;
                        color: $medium-lightBlack-text-color-jobPage;
                        cursor: pointer;
                    }
                }
            }
            .job-description-footer {
                width: 100%;
                @include display-flex-row-alignCenter;
                justify-content: space-between;
                .project-id {
                    font-size: $font-size-11;
                    font-weight: $font-wight-400;
                    color: $medium-lightBlack-text-color-jobPage;
                    cursor: text;
                }
                .report-project {
                    @include display-flex-row-alignCenter;
                    justify-content: center;
                    gap: .2rem;
                    font-size: $font-size-11;
                    font-weight: $font-wight-600;
                    color: $medium-lightBlack-text-color-jobPage;
                    cursor: pointer;
                }
            }
            .attachments-wrapper {
                width: 100%;
                .line {
                    background-color: #aeafb1;
                    height: 1px;
                    width: 100%;
                    margin: 5px 0;
                }
                .attachments-title {
                    font-size: $font-size-16;
                    color: $medium-lightBlack-text-color-jobPage;
                }
                .attachments {
                    @include display-flex-row-alignCenter(row, center);
                    justify-content: flex-start;
                    gap: .5rem;
                    font-weight: $font-wight-400;
                    .attachment-icon {
                        font-size: $font-size-16;
                    }
                    .file-name {
                        color: $dark-blue;
                        cursor: pointer;
                        font-weight: $font-wight-400;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .job-details-side-bar {
        width: 280px;
        @include display-flex-row-alignCenter(column);
        gap: 1rem;
        .job-details-side-about-client {
            height: 200px;
            width: 100%;
            @include min-cards-design-for-all-content;
        }
        .job-details-side-apply-tips {
            height: 200px;
            width: 100%;
            @include min-cards-design-for-all-content;
        }
    }
}

//Extra large screens, TV
@media all and (min-width:1201px) {}

//Desktops, large screens
@media all and (min-width:1025px)and(max-width:1200px) {}

//Small screens, laptops
@media all and (min-width:769px)and(max-width:1024px) {}

//iPads, Tablets
@media all and (min-width:481px) and (max-width:768px) {
    .job-details-wrapper {
        @include display-flex-row-alignCenter(column);
        .job-details-main {
            width: 100%;
        }
        .job-details-side-bar {
            width: 100%;
            @include display-flex-row-alignCenter(column);
            gap: 1rem;
            .job-details-side-about-client {
                width: 100%;
            }
            .job-details-side-apply-tips {
                width: 100%;
            }
        }
    }
}

// mobile view
@media all and (max-width: 480px) {
    .job-details-wrapper {
        @include display-flex-row-alignCenter(column);
        justify-content: center;
        width: 100%;
        .job-details-main {
            width: 100%;
            .job-details-header {
                @include display-flex-row-alignCenter(column, flex-start);
                gap: .5rem;
                .job-details-budget {
                    @include display-flex-row-alignCenter(column, flex-start);
                    gap: .2rem;
                }
            }
        }
        .job-details-side-bar {
            width: 100%;
            @include display-flex-row-alignCenter(column);
            .job-details-side-about-client {
                width: 100%;
            }
            .job-details-side-apply-tips {
                width: 100%;
            }
        }
    }
}